<ion-view view-title="Información técnica">
	<ion-content class="padding">
		<div class="list">
			<a class="item item-icon-left">
				<i class="icon ion-email"></i>
				email
			</a>
			<a class="item item-icon-left item-icon-right">
				<i class="icon ion-email"></i>
				info
				<i class="icon ion-information-circled"></i>
			</a>
			<a class="item">
				elemento 1
				<span class="item-note"> reservado </span>
			</a>
			<a class="item">
				elemento 2
				<span class="badge badge-dark"> 12 </span>
			</a>
			<div class="item-divider"></div>
			<a class="item item-button-right">
				elemento 3
				<button class="button button-dark"> info </button>
			</a>
			<a class="item item-button-right">
				elemento 4
				<button class="button button-dark">
					<i class="icon ion-person"></i>
				</button>
			</a>
			<a class="item">
				elemento 5
			</a>
		</div>
  </ion-content>
</ion-view>
