<ion-view view-title="Comunidad">
	<ion-content class="padding">
		<p>A sudden commotion among the goats brought the boys to their feet. The  dogs about the fire rushed to join their snarling fellow who guarded the  goats, while the goats themselves stampeded in the direction of their  human protectors. A half dozen forms, lean and gray, glided about on the  sand hillocks and faced the bristling dogs. Edwin arched an arrow that  fell short. But Hare-Lip, with a sling such as David carried into battle  against Goliath, hurled a stone through the air that whistled from the  speed of its flight. It fell squarely among the wolves and caused them  to slink away toward the dark depths of the eucalyptus forest.</p>
  </ion-content>
</ion-view>
